# Default ignored files
/shelf/
/workspace.xml

# Папки сборки (Gradle/Kotlin)
ScheduleApp/build/
ScheduleApp/.gradle/
ScheduleApp/out/

# Папки IDE
ScheduleApp/.idea/
ScheduleApp/*.iml

# Локальные настройки
ScheduleApp/local.properties

# Папки с кэшами и временными файлами
*.log
*.swp
*.kts~

# Папки сгенерированного кода
/ScheduleApp/generated/

# Android
ScheduleApp/androidApp/build/
ScheduleApp/androidApp/.gradle/

# iOS
ScheduleApp/iosApp/build/
ScheduleApp/iosApp/DerivedData/

# shared
ScheduleApp/shared/build
