# Default ignored files
/shelf/
/workspace.xml

# Папки сборки (Gradle/Kotlin)
ScheduleApp/build/
ScheduleApp/.gradle/
ScheduleApp/out/
ScheduleApp/.kotlin/

# Папки IDE
ScheduleApp/.idea/
ScheduleApp/*.iml

# Локальные настройки
ScheduleApp/local.properties

# Папки с кэшами и временными файлами
ScheduleApp/*.log
ScheduleApp/*.swp
ScheduleApp/*.kts~

# Папки сгенерированного кода
/ScheduleApp/generated/

# Android
ScheduleApp/androidApp/build/
ScheduleApp/androidApp/.gradle/

# iOS
ScheduleApp/iosApp/build/
ScheduleApp/iosApp/DerivedData/

# ServerSide
ScheduleApp/serverSide/build
ScheduleApp/serverSide/.idea
ScheduleApp/serverSide/test

# shared
ScheduleApp/shared/build
